/* タブのCSS */

.tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
    }
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
    }
    .tab button:hover {
      background-color: #ddd;
    }
    .tab button.active {
      background-color: #ccc;
    }
    .tabcontent {
      display: none;
      padding: 6px 24px;
      border: 1px solid #ccc;
      border-top: none;
    }
/* コンテンツのCSS */
*{
  box-sizing: border-box;
}

.top-wrapper {
  width: 1170px;
}

.top-containts {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #141515;
  border-left: 1px solid #141515;
}

.containts {
  width: 50%;
  height: 650px;
  border-right: 1px solid #141515;
  border-bottom: 1px solid #141515;
}




  

/*アコーディオンメニューのCSS */
.details {
  transition: .3s;
  overflow: hidden;
  margin-top: -10px;
  padding-bottom: 20px;
}

.details:last-of-type {
  margin-bottom: 0;
}

.details[open] {
  margin-top: 0;
  padding-bottom: 10px;
}

.details-summary {
  display: block;
  padding: 15px;
  transition: .3s;
  transform: translateY(10px);
  background-color: #56904c;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}

.details-summary::-webkit-details-marker {
  display: none;
}

.details[open] .details-summary {
  transform: translateY(0);
}

.details-content {
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 2px solid #00a5a0;
  border-left: 2px solid #00a5a0;
  border-right: 2px solid #00a5a0;
}
	border-left: 2px solid #00a5a0;
	border-right: 2px solid #00a5a0;
}
